// Dark Theme
$dark: #25292C;
$lightened-dark: #2D3134;
$light-dark: #5B5F62;


$active: #16B273;
$active-hover: rgb(19, 161, 104);

$qr-image: url('/static/attendees/img/qrewards-banner.jpg') no-repeat top center/cover;

$light-bg: #F2F7F7;

$bluish-white: #f2f6fb;

// Texts
$dim-grey-font: #B2B2B3;
$dark-grey-font: #656565;

$main: #71CAD2;
$green: #7CD52B;
$blue: #4E8DF8;
$yellow: #F1AE3B;
$red: #e55163;

$disabled: #bcbfc2;




