{% extends 'myapps/layout.html' %}

{% load widget_tweaks %}

{% load static %}


{% block navbar %}
<nav id="main-nav">
  <div class="container nav-content">
    <div class="logo">
      <img src="{% static 'myapps/img/tech_llama_logo.png' %}" alt="Tech Llama Logo">
      <h1>Storm Llamas</h1>
    </div>
    <div class="navbar-links">
      <div class="nav-items">
        <a href="{% url 'index' %}"> Home </a>
        <a href="#"> Resume </a>
        <a href="#"> Work </a>
        <a href="{% url 'about' %}" class="current"> About </a>
      </div>
      <div class="nav-items-dropdown">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <a href="{% url 'index' %}" class="current"> Home </a>
            <a href="#"> Resume </a>
            <a href="#"> Work </a>
            <a href="{% url 'about' %}"> About </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  
  <header id="about-me" class="py-3">
    <div>
      <h2 class="section-title">About Me</h2>
      <div class="bottom-line-primary"></div>
    </div>
    <div class="bg-light py-2">
      <div class="container">
        <img src="{% static 'myapps/img/storm-front-casual2.jpg' %}" class="about-img" alt="Storm Llamas">
        <div class="about-text">
          <h3>Hi, I’m Storm. Nice to Meet You.</h3>
          <p>I think coding and visual design is awesome. It makes things smarter, allows<br>
            resources to be more accessible, and makes life a lot more fun.<br>
            <br>
            My goal is to be a leader in the nexus of technology and design to<br>
            make an impact on making education free for all and make people aware of it<br>
            and technology can make that happen</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Companies I've worked with -->
  <section id="companies" class="my-3">
    <div>
      <h2 class="section-title">Companies I've Worked With</h2>
      <div class="bottom-line-primary"></div>
    </div>
    <div class="companies py-2">
      <div class="container">
        <div class="logos">
          <img src="{% static 'myapps/img/oppo-07.png' %}" class="companies-img" alt="oppo">
          <img src="{% static 'myapps/img/anomaly-studios.png' %}" class="companies-img" alt="oppo">
          <img src="{% static 'myapps/img/age-08.png' %}" class="companies-img" alt="oppo">
        </div>
      </div>
    </div>
  </section>

  <!-- Technical Skills -->
  <section id="technical-skills">
    <div class="bg-light py-2">
      <h2 class="section-title">Technical Skills</h2>
      <div class="bottom-line-primary"></div>
      <div class="container">
        <div class="skills my-2">
          <div class="skill"> 
            <div class="skill-type">
              <h3>Python</h3>
            </div>
            <div class="progress">
              <div style="width:88%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>Javascript</h3>
            </div>
            <div class="progress">
              <div style="width:79%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>HTML/CSS, Sass</h3>
            </div>
            <div class="progress">
              <div style="width:79%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>SQL</h3>
            </div>
            <div class="progress">
              <div style="width:70%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>Photoshop</h3>
            </div>
            <div class="progress">
              <div style="width:75%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>Illustrator</h3>
            </div>
            <div class="progress">
              <div style="width:88%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>Premiere Pro</h3>
            </div>
            <div class="progress">
              <div style="width:77%"></div>
            </div>
          </div>
          <div class="skill"> 
            <div class="skill-type">
              <h3>SketchUp</h3>
            </div>
            <div class="progress">
              <div style="width:77%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="timeline">
    <h2 class="section-title">Knowledge Timeline</h2>
    <div class="timeline-start"></div>
    <ul>
      <li>
        <div class="dots"></div>
        <div class="times">
          <div class="timeline-text">
            <h2>Angular</h2>
            <p>
              DOM, OOP, Asynchronous JS, Ajax & Fetch, ES5 & ES6, JS Patterns
            </p>
          </div>
          <div class="timeline-date">
            <div>
              <h3 class="month">Jan</h3>
              <h3 class="year">2020</h3>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="dots"></div>
        <div class="times">
          <div class="timeline-date">
            <div>
              <h3 class="month">Oct</h3>
              <h3 class="year">2019</h3>
            </div>
          </div>
          <div class="timeline-text">
            <h2>JavaScript</h2>
            <p>
              DOM, OOP, Asynchronous JS, Ajax & Fetch, Local & Session storage, ES5 & ES6, JS Patterns
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="dots"></div>
        <div class="times">
          <div class="timeline-text">
            <h2>HTML/CSS/Sass</h2>
            <p>
              Fundamentals & Basics, Styling, Advanced Selectors, Keyframe, Animations, Transitions
            </p>
          </div>
          <div class="timeline-date">
            <div>
              <h3 class="month">July</h3>
              <h3 class="year">2019</h3>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="dots"></div>
        <div class="times">
          <div class="timeline-date">
            <div>
              <h3 class="month">April</h3>
              <h3 class="year">2019</h3>
            </div>
          </div>
          <div class="timeline-text">
            <h2>Django</h2>
            <p>
              Virtual environments, DB migrations, Jinja, Reusable apps, GCBV, Deployment
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="dots"></div>
        <div class="times">
          <div class="timeline-text">
            <h2>Python & SQL</h2>
            <p>
              First language learned. Fundamentals, OOP, De-serialization, Data Parsing, Regex, 
            </p>
          </div>
          <div class="timeline-date">
            <div>
              <h3 class="month">Oct</h3>
              <h3 class="year">2018</h3>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="timeline-end"></div>
  </section>

{% endblock %}

{% block scripts %}
  <script src="{% static 'myapps/js/timeline.js' %}"></script>
{% endblock %}