// Contact form - General
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  font-family: 'Quicksand', sans-serif;
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
  overflow: auto;
  resize: vertical;
}

textarea.form-control {
  height: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: inherit;
  background: #fff;
  font-size: 1.5rem;
  color: #495057;
  padding: 1rem;
  cursor: pointer;
}

// Non-Modal Form
.contact-form {
  display: flex;
  justify-content: center;

  .contact-dialog {
    background: #f4f4f4;
    width: 1000px;
    padding: 4rem 3rem 3rem 3rem;
    margin: 0 2rem 2rem 2rem;
    border-radius: 10px;
    color: #333333;
    font-weight: 600;

    .three-forms {
      display: flex;
    
      .form-group {
        width: 100%;
        margin-right: 1rem;
      }
    
      .form-group:nth-child(3) {
        margin-right: 0;
      }
    }
    
    input {
      width: 100%;
      margin-top: 0.5rem;
    }

    textarea {
      margin-top: 0.5rem;
    }
  }
}






// modal
.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  // opacity: 0;
  overflow: hidden;

  .modal-dialog {
    position: relative;
    max-width: 500px;
    margin: 1.5rem auto;
    pointer-events: none;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 0.3rem;
      outline: 0;
      
      .modal-header {
        font-family: 'valera', sans-serif;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        .modal-title {
          margin-bottom: 0;
          line-height: 1.5; }
      
      }

      .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;

        .btn-main {
          width: 100%;
          border-radius: 7px;
        }
      }
    }
  }
}