@import 'config';
@import 'utilities';
@import 'contact';

// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

P {
  font-size: 16px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

h1 {
  font-size: 24px
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 55px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
}

// Navbar
#main-nav {
  border-bottom: 1px $main-color solid;
  padding: 0.55rem 0;

  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;

      img {
        margin-right: 1.5rem;
        width: 50px;
        height: 50px;
      }
      h1 {
        font-family: 'Varela Round', sans-serif;
        text-transform: uppercase;
      }
    }


    .navbar-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      
      .nav-items {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 2rem;

        a {
          padding-right: 2rem;
          
          &:after {
            content: '';
            display: block;
            height: 3px;
          }

          &.current:after {
            content: '';
            display: block;
            background: $main-color;
            height: 3px;
            animation-name: nav-animate;
            animation-duration: 0.4s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
          }

          &:hover:after {
            content: '';
            display: block;
            background: $main-color;
            height: 3px;
            width:  0px;
            animation-name: nav-animate;
            animation-duration: 0.6s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
          }
        }
      }

      .nav-items-dropdown {
        position: relative;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 1;

        .toggler{
          position: absolute;
          top:0;
          right:0;
          z-index: 2;
          width: 40px;
          height: 40px;
          margin: 5px;
          opacity: 0;
          cursor: pointer;
        }

        .hamburger {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          width: 40px;
          height: 40px;
          padding: 10px;
          margin: 5px;
          box-sizing: border-box;
          border-radius: 50%;
          transition: all 0.4s ease;

          & > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
            
            &:before, &:after {
              content: '';
              position: absolute;
              z-index: 1;
              top: -8px;
              width: 100%;
              height: 2px;
              background: inherit;
            }
            
            &:after {
              top: 8px;
            }
          }
        }

        // Change hamburger color on hover
        .toggler:hover + .hamburger{
          background: $main-color;
          border-radius: 50%;

          & > div {
            background: #fff;

            &:before, &:after {
              background: #fff;
            }
          }
        }
        
        // Rotate hamburger into X when clicked
        .toggler:checked + .hamburger > div{
          transform: rotate(135deg);

          &:before, &:after{
            top: 0;
            transform: rotate(90deg);
          }
        }

        // Change active hamburger color on hover
        .toggler:checked:hover + .hamburger{
          background: $main-color;

          & > div {
            background: #fff;

            &:before, &:after {
              background: #fff;
            }
          }
        }

        .menu {
          position: static;
          top: 0;
          right: 0;
          text-align: right;
          justify-content: flex-end;
          width: 100%;
          height: 0px;
          overflow: hidden;
          transition: all 0.4s ease;

          div {
            margin: 2rem 1rem 1rem 1rem;
            display: flex;
            flex-direction: column;


            a {
              margin-bottom: 2rem;

              &:after {
                content: '';
                display: block;
                height: 3px;
              }
    
              &.current:after {
                content: '';
                display: block;
                background: $main-color;
                height: 3px;
                animation-name: nav-animate;
                animation-duration: 0.4s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
              }
    
              &:hover:after {
                content: '';
                display: block;
                background: $main-color;
                height: 3px;
                width:  0px;
                animation-name: nav-animate;
                animation-duration: 0.6s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
              }
            }
          }
        }

        .toggler:checked ~ .menu {
          height: 252px;
        }
      }
    }
  }
}

// Header
#header-home {
  height: calc(100vh - 67.6px);

  .main-header {
    height: 100%;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      display: block;
      background: $storm-image;
      bottom: 0;
      left: 10%;
      width: 85%;
      height: 85%;
      z-index: -1;
    }

    .header-text {
      text-align: center;
      padding-left: 40%;
      padding-top: 25vh;

      h4 {
        font-family: 'Varela Round', sans-serif;
        margin-bottom: 60px;
      }

      a {
        font-family: 'Varela', sans-serif;
      }
    }
  } 
}

// Things I do 
#things-i-do-title {
  text-align: center;
  color: #fff;
  padding-bottom: 13rem;
}

#things-i-do {
  margin-top: -11rem;

  .box-white {
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;

    & > div {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      border-right: 2px rgba(233,240,243,0.5) solid;
      padding: 7rem 2rem 4rem 2rem;

      & div:first-child i {
        padding-bottom: 1rem;
      }

      & div:last-child {
        padding-top: 2rem;

        h3 {
          color: $main-color;
        }
      }
    }

    & > div:last-child {
      border-right: none;
    }
  }
}

// View My Work
#view-my-work {
  text-align: center;
  padding: 5rem;

  h2 {
    margin-bottom: 1rem;
  }
}

#contact-info {
  .container {
    .contact-info-content {
      display: flex;
      justify-content: space-evenly;
      .info {
        text-align: center;
        margin: 2rem;
        
        i {
          margin-bottom: 1rem;
        }

        p {
          font-weight: 600;
        }
      }
    }
  }
}

// Footer
#main-footer {
  padding: 1rem 0;

  .footer-content {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    
    div {
      display:flex;
      align-items: center;
      width: 300px;

      a.socials {
        margin-right: 10px;
        border: 2px #fff solid;
        border-radius: 50%;
        padding: 8px;
        color: #fff;
        align-items: center;
        transition: all 0.4s ease;

        i {
          align-items: center;
          padding: 5px;
        }

        &:hover {
          background: #fff;
          color: $main-color;
        }
      }
    }

    div:nth-child(2) {
      justify-content: center;
    }
    
    div:nth-child(3) {
      justify-content: flex-end;
    }
  }
}

// About
#about-me {

  div.bg-light {
    text-align: center;
    margin-top: 3rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }

    .about-text {
      line-height: 2rem;
      margin-left: 4rem;
    }
  }
}

// Companies worked with
#companies {
  .companies {

    .logos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      align-items: center;
      justify-items: center;

      .companies-img {
        width: 80%;
      }
    }
  }
}

// Technical Skills
#technical-skills {

  .skills {
    padding: 0 5rem;
    .skill {
      display: flex;
      align-items: center;
      margin-bottom: 0.6rem;
  
      .skill-type {
        margin-right: 35px;
        width: 200px;
        text-align: right;
      }
  
      .progress {
        div {
          background: $main-color;
          height: 100%;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

#timeline {
  margin-top: 5rem;

  .timeline-start, .timeline-end {
    width: 80px;
    height: 10px;
    background: $main-color;
  }

  .timeline-start {
    margin: 3rem auto 0 auto;
  }

  .timeline-end {
    margin: 0 auto 0 auto;
  }

  ul {

    li {
      position: relative;
      display: flex;
      width: 6px;
      height: 200px;
      margin: 0 auto;
      align-items: center;
      background: $main-color;

      &.show {

        .times {
          transform: none !important;
          visibility: visible ;
          opacity: 1;
        }
      }

      .dots {
        position: absolute;
        width: 70px;
        border-top: 6px $main-color dotted;
      }

      .times {
        position: relative;
        display: flex;
        align-items: center;
        color: #333;
        padding: 1rem 0;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;

        .timeline-date {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 90px;
          background: $main-color;
          border-radius: 50%;

          div{
            display: flex;
            text-align: center;
            width: 90px;
            flex-direction: column;
            color: #fff;

            h3.month {
              font-size: 19px;
            }
    
            h3.year {
              font-size: 25px;
              margin-top: -10px;
            }
          }
        }

        .timeline-text {
          left: 200px;
          width: 300px;
          display: flex;
          flex-direction: column;
          align-items: start;
        }
      }

      &:nth-child(even) {

        .dots {
          left: 12px;
        }
  
        .times {
          left: 88px;
          transform: translate(200px, 0);
  
          .timeline-date {
            margin-right: 20px;
          }
  
          .timeline-text {
            left: 200px;
            min-width: 300px;
            align-items: flex-start;
          }
        }
      }

      &:nth-child(odd) {

        .dots {
          left: -76px;
        }
  
        .times {
          left: -492px;
          transform: translate(-200px, 0);
  
          .timeline-date {
            margin-left: 20px;
          }
  
          .timeline-text {
            left: -284px;
            min-width: 300px;
            align-items: flex-end;
            text-align: end;
          }
        }
      }
    }
  }
}


@import 'media';