{% extends 'myapps/layout.html' %}

{% load static %}


{% block navbar %}
<nav id="main-nav">
  <div class="container nav-content">
    <div class="logo">
      <img src="{% static 'myapps/img/tech_llama_logo.png' %}" alt="Tech Llama Logo">
      <h1>Storm Llamas</h1>
    </div>
    <div class="navbar-links">
      <div class="nav-items">
        <a href="{% url 'index' %}"> Home </a>
        <a href="#"> Resume </a>
        <a href="#"> Work </a>
        <a href="{% url 'about' %}"> About </a>
      </div>
      <div class="nav-items-dropdown">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <a href="{% url 'index' %}" class="current"> Home </a>
            <a href="#"> Resume </a>
            <a href="#"> Work </a>
            <a href="{% url 'about' %}"> About </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<header id="contact-me" class="py-2">
  <div>
    <h2 class="section-title">Contact Me</h2>
    <div class="bottom-line-primary"></div>
  </div>
</header>

{% include 'myapps/partials/_alerts.html' %}

<section class="contact-form">
  <div class="contact-dialog">
    <div class="contact-content">
      <form action="" method="POST" novalidate>
        {% csrf_token %}
        <div class="three-forms">
          {% for field in form %}
            {% if forloop.counter < 4 %}
              {% include 'myapps/partials/_form.html' %}
            {% endif %}
          {% endfor %}
        </div>
        {% for field in form %}
          {% if forloop.counter >= 4 %}
            {% include 'myapps/partials/_form.html' %}
          {% endif %}
        {% endfor %}
        <input type="submit" value="Send" class="btn-main">
      </form>
    </div>
  </div>
</section>

<section id="contact-info">
  <div class="container">
    <div class="contact-info-content">
      <div class="info">
        <i class="fas fa-phone fa-4x"></i>
        <p>(+63) 9175576822</p>
      </div>
      <div class="info">
        <i class="fas fa-envelope fa-4x"></i>
        <p>stormsiallamas@gmail.com</p>
      </div>
      <div class="info">
        <i class="fas fa-map-marker-alt fa-4x"></i>
        <p>Lucena, Quezon, PH</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}