{% extends 'attendees/layout.html' %}

{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'attendees:index' %}">Attendees</a></li>
    <li class="breadcrumb-item active">Activity Log</li>
{% endblock %}

{% block content %}

<section id="main-feed">
  <div class="feed-content">
    <div class="table-title">
      <h2>Activity Log</h2>
    </div>
    <div class="card">
      <table id="activity-log-table" class="table">
        <thead>
          <tr>
            <th><h4>ID</h4></th>
            <th><h4>Full Name</h4></th>
            <th><h4>Timestamp</h4></th>
            <th><h4 class="text-center text-primary"><span class="claim">+</span>/<span class="redeem">-</span></h4></th>
            <th><h4>Points Earned</h4></p></th>
            <th><h4>Points Redeemed</h4></p></th>
            <th><h4>Points Balance</h4></p></th>
          </tr>
        </thead>
        <tbody>
          {% if activity_log.count >= 1 %}
            {% for log in activity_log %}
            <tr>
              <td>{{log.attendee.id}}</td>
              <td>{{log.attendee.first_name}} {{log.attendee.last_name}}</td>
              <td>{{log.time_log | date:"m/d/Y - g:ia" }}</td>
              {% if log.points_claim > 0 %}
                  <td class="claim">{{log.points_claim}}</td>
              {% elif log.points_redeem > 0 %}
                  <td class="redeem" >{{log.points_redeem}}</td>
              {% else %}
                  <td></td>
              {% endif %}
              <td class="text-center">{{log.total_points_earned}}</td>
              <td class="text-center">{{log.total_points_redeemed}}</td>
              <td class="text-center">{{log.total_points_balance}}</td>
            </tr>
            {% endfor %}
          {% else %}
              <p>No activity yet</p>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{% static 'attendees/js/sidenav.js' %} "></script>
{% endblock %}