<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if '/' == request.path %}
                    <i class="fas fa-home"></i><a href="/"> Home</a>
                {% else %}
                    <i class="fas fa-caret-left"></i><a href="/"> Go back to other services</a>
                {% endif %}
                
            </div>
            <div class="col-md-4 text-center">
                <i class="fas fa-envelope-open"></i> stormsiallamas@gmail.com
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>