{% load static %}
<!-- Navbar -->
<nav id="side-nav">
  <div class="top-side-nav">
    <div class="nav-toggler">
      <div class="hamburger"><div></div></div>
    </div>
  </div>
  <div class="main-side-nav">
    <div class="side-nav-group">
      <div class="side-nav-group-title side-nav-element"><h3>Views</h3></div>
      <ul class="side-nav-list">
        <a href="{% url 'attendees:index' %}">
          <li 
          {% if '/' == request.path %}
            class="side-nav-list-item side-nav-element active"
          {% else %}
            class="side-nav-list-item side-nav-element"
          {% endif %}
          >
            <i class="fas fa-home"></i>Home
          </li>
        </a>
        <a href="{% url 'attendees:overview' %}">
          <li 
          {% if '/overview/' == request.path %}
            class="side-nav-list-item side-nav-element active"
          {% else %}
            class="side-nav-list-item side-nav-element"
          {% endif %}
          >
            <i class="fas fa-table"></i>
              Overview
            </li>
        </a>
        <a href="{% url 'attendees:activity' %}">
          <li 
          {% if '/activity_log/' == request.path %}
            class="side-nav-list-item side-nav-element active"
          {% else %}
            class="side-nav-list-item side-nav-element"
          {% endif %}
          >
            <i class="fas fa-chart-line"></i>Activity Log
          </li>
        </a>
      </ul>
    </div>
    <div class="side-nav-group">
      <div class="side-nav-group-title side-nav-element"><h3>Data</h3></div>
      <ul class="side-nav-list">
        <a href="{% url 'attendees:attendee_upload' %}"><li class="side-nav-list-item side-nav-element"><i class="fas fa-plus"></i>Upload Contacts</li></a>
        <a href="{% url 'attendees:qrgenerated' %}"><li class="side-nav-list-item side-nav-element"><i class="fas fa-qrcode"></i>Generate QR Codes</li></a>
      </ul>
    </div>
    <div class="side-nav-group">
      <div class="side-nav-group-title side-nav-element"><h3>Settings</h3></div>
      <ul class="side-nav-list">
        <a href="#"><li class="side-nav-list-item side-nav-element"><i class="fas fa-user"></i>Profile</li></a>
        <a href="#"><li class="side-nav-list-item side-nav-element"><i class="fas fa-lock"></i>Account</li></a>
      </ul>
    </div>
  </div>
</nav>
<nav id="main-nav" class="navbar">
  <div class="nav-content">
    <a class="title" href="{% url 'attendees:overview' %}">
      <img src="/static/attendees/img/tech_llama_logo.png" class="nav-logo" alt="logo">
      <h1>Tech Llama</h1>
    </a>
    <div class="authentication">
      <ul class="main-nav-list">
        {% if user.is_authenticated %}
          <li
          {% if 'dashboard' in request.path %}
            class="main-nav-item active"
          {% else %}
            class="main-nav-item"
          {% endif %}
          >
            <a class="nav-link-authenticated" href="#">Welcome {{ user.username }}</a>
          </li>
          <li class="main-nav-item">
            <a href="{% url 'logout' %}" class="nav-link-authenticated"><i class="fas fa-sign-out-alt"></i> Logout </a>
          </li>
        {% else %}
          <li
          {% if 'register' in request.path %}
            class="main-nav-item active"
          {% else %}
            class="main-nav-item"
          {% endif %}
          >
            <a class="nav-link btn-blue" href="#">
              <i class="fas fa-user-plus"></i> Signup</a>
          </li>
          <li
          {% if 'login' in request.path %}
            class="main-nav-item active mr-3"
          {% else %}
            class="main-nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link btn-blue-outline" href="#">
              <i class="fas fa-sign-in-alt"></i>Login
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    </div>
</nav>